{:min-bb-version "0.4.0"
 :paths ["src"]
 :deps {io.github.lispyclouds/bblgum {:git/sha "1d4de3d49b84f64d1b71930fa1161f8d2622a4d9"}
        org.clj-commons/pretty {:mvn/version "2.2.1"}}
 :tasks
 {:requires ([babashka.fs :as fs])
  post {:doc "Generate a new post using a wizard"
        :requires ([bb.new-post :as task])
        :task (task/write-post)}
  dev         {:doc  "Run tasks for dev"
               :task (run '-dev {:parallel true})}
  -dev        {:depends [dev:css]}
  dev:css    {:doc  "Runs front-end compilation"
              :task (shell "yarn dev:css")}
  -clean (do
           (println "Removing target folder")
           (fs/delete-tree "target"))
  -build (do
           (println "Building site")
           (clojure "-X:build"))
  prod:css {:doc "Compile CSS for production"
            :task (shell "yarn prod:css")}
  build {:doc "Run the steps needed to build the site"
         :task (do
                 (run '-clean)
                 (run 'prod:css)
                 (run '-build))}}}
