[{:page/uri "/atom.xml"
  :page/kind :page.kind/atom-feed}
 {:page/uri "/oembed.json"
  :page/kind :page.kind/oembed}
 {:page/uri "/manifest.json"
  :page/kind :page.kind/webmanifest}
 {:page/uri "/tags/"
  :page/kind :page.kind/tags-listing}
 {:page/uri "/planetclojure.xml"
  :page/kind :page.kind/planetclojure-feed}
 {:page/uri "/posts/"
  :page/kind :page.kind/posts-listing}]
