<div class="flex flex-col">
    <div class="prose prose-slate lg:prose-lg prose-a:no-underline dark:prose-invert">
        <p>
            As a Devon-based technologist with a fervent passion for Clojure and Emacs, and
            an equally strong love for bass and music; I stand at the unique crossroads of
            coding and creativity.
        </p>

        <p>
            Throughout my career, I've navigated a diverse array of projects in both web and
            desktop environments. From developing complex enterprise-level solutions to
            crafting elegant, user-friendly interfaces, my experience is as varied as it is
            deep. Notably, my proficiency in Clojure has enabled me to write clean,
            efficient code; while Emacs has been my faithful companion in streamlining my
            workflow.
        </p>

        <p>
            I'm driven by the continuous pursuit of knowledge and the satisfaction of
            overcoming challenges. Whether it's refining a tricky piece of code or mastering
            a complex bass line, I relish in the thrill of achievement. Looking ahead, I aim
            to blend these worlds even further, creating harmonious solutions that resonate
            both technically and creatively.
        </p>
    </div>

    <div class="pt-3 flex flex-row items-center justify-around">
        <a class="transition ease-in-out duration-200 hover:-translate-y-1 hover:scale-110 hover:!text-[#171515]" target="_blank"
            rel="noopener noreferrer" href="https://github.com/elken">
            <i class="fab fa-2x fa-github"></i>
        </a>
        <a class="transition ease-in-out duration-200 hover:-translate-y-1 hover:scale-110" target="_blank"
            rel="noopener noreferrer" href="https://gitlab.com/elken">
            <i class="fab fa-2x fa-gitlab"></i>
        </a>
        <a class="transition ease-in-out duration-200 hover:-translate-y-1 hover:scale-110 hover:!text-[#0072b1]" target="_blank"
            rel="noopener noreferrer" href="https://linkedin.com/in/ellis-kenyo-38788891">
            <i class="fab fa-2x fa-linkedin"></i>
        </a>
    </div>
</div>
